@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Merriweather:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

button {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 50px;
  background: transparent;
  border: black 3px solid;
  transition: 0.3s;
}
button:hover {
  background: rgb(0, 153, 255);
}
@media screen and (max-width: 800px) {
  button {
    font-size: 0.5rem;
    padding: 5px 15px;
  }
}

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

p {
  font-family: "Merriweather", serif;
}

ul li {
  list-style: none;
}

body {
  background: url(./assets/images/bg.jpg) fixed center/cover;
}

header {
  min-height: 80vh;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
header .titre {
  min-height: 40vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header .titre h1 {
  font-size: 4rem;
}
header .titre p {
  font-family: "Merriweather", serif;
}
header .titre button {
  color: white;
  font-size: 3rem;
  border: white 1px solid;
  padding: 0 5px;
  border-radius: 200px;
}
@media screen and (max-width: 700px) {
  header .titre {
    min-height: 30vh;
  }
  header .titre h1 {
    font-size: 1.8rem;
  }
  header .titre p {
    font-size: 0.8rem;
  }
  header .titre button {
    font-size: 2rem;
  }
}
@media screen and (max-width: 700px) {
  header {
    min-height: 30vh;
  }
}

nav {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.185);
}
nav .nav-left ul {
  display: flex;
  color: white;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}
nav .nav-left li {
  padding: 20px 10px;
}
nav .nav-left li:first-child {
  background: rgb(247, 244, 244);
  color: black;
}
nav .nav-left li:hover {
  background: black;
  color: white;
}
nav .nav-left:hover li:not(:hover) {
  background: none;
  color: white;
}
nav .nav-right {
  width: 40%;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 1.2rem;
}
@media screen and (max-width: 630px) {
  nav .nav-left {
    width: 100%;
    margin: 0 auto;
  }
  nav .nav-left li {
    width: 100%;
    font-size: 0.4rem;
  }
  nav .nav-right {
    display: none;
  }
}

main {
  background: rgb(255, 255, 255);
  margin: 0 auto;
  width: 70%;
}
main .date1 {
  position: relative;
  padding: 40px 0;
}
main .date1 span {
  font-family: "Merriweather", serif;
}
@media screen and (max-width: 750px) {
  main .date1 span {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 550px) {
  main .date1 span {
    font-size: 0.7rem;
  }
}
main .date1 span::before, main .date1 span::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 30%;
  border: 1px rgb(206, 204, 204) solid;
  top: 50px;
}
main .date1 span::before {
  left: 10%;
}
main .date1 span::after {
  right: 10%;
}
@media screen and (max-width: 1200px) {
  main .date1 span::before, main .date1 span::after {
    width: 25%;
  }
}
@media screen and (max-width: 900px) {
  main .date1 span::before, main .date1 span::after {
    width: 18%;
  }
}
main .massive {
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
}
main .massive .andthis {
  width: 60%;
  margin: 0 auto;
}
main .massive .andthis h2 {
  font-size: 3.5rem;
  letter-spacing: 2px;
}
main .massive .andthis p {
  line-height: 40px;
  margin-top: 20px;
}
@media screen and (max-width: 1780px) {
  main .massive .andthis {
    width: 100%;
  }
}
@media screen and (max-width: 770px) {
  main .massive .andthis h2 {
    font-size: 1rem;
  }
  main .massive .andthis p {
    font-size: 0.5rem;
    line-height: normal;
  }
}
@media screen and (max-width: 800px) {
  main .massive {
    min-height: 50vh;
  }
}
main img {
  width: 100%;
}
main .photos {
  height: 50vh;
}/*# sourceMappingURL=style.css.map */