@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Merriweather:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
button {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 50px;
  background: transparent;
  border: black 3px solid;
  transition: 0.3s;
  &:hover {
    background: rgb(0, 153, 255);
  }
}
h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
ul li {
  list-style: none;
}
body {
  background: url(./assets/images/bg.jpg) fixed center/cover;
}
header {
  min-height: 80vh;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  .titre {
    min-height: 40vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1 {
      font-size: 4rem;
    }
    p {
      font-family: "Merriweather", serif;
    }
    button {
      color: white;
      font-size: 3rem;
      border: white 1px solid;
      padding: 0 5px;
      border-radius: 200px;
    }
    @media screen and (max-width: 700px) {
      min-height: 30vh;
      h1 {
        font-size: 1.8rem;
      }
      p {
        font-size: 0.8rem;
      }
      button {
        font-size: 2rem;
      }
    }
  }
  @media screen and (max-width: 700px) {
    min-height: 40vh;
  }
}
nav {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.185);
  .nav-left {
    ul {
      display: flex;
      color: white;
      text-transform: uppercase;
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      letter-spacing: 1px;
      cursor: pointer;
    }
    li {
      padding: 20px 10px;
      &:first-child {
        background: rgb(247, 244, 244);
        color: black;
      }
      &:hover {
        background: black;
        color: white;
      }
    }
    &:hover li:not(:hover) {
      background: none;
      color: white;
    }
  }
  .nav-right {
    width: 40%;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 1.2rem;
  }
  @media screen and (max-width: 630px) {
    .nav-left {
      width: 100%;
      margin: 0 auto;
      li {
        width: 100%;
        font-size: 0.4rem;
      }
    }
    .nav-right {
      display: none;
    }
  }
}

main {
  background: rgb(255, 255, 255);
  margin: 0 auto;
  width: 70%;
  img {
    width: 100%;
  }
}
