@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Merriweather:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
button {
  font-family: "Inter", sans-serif;

  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 50px;
  background: transparent;
  border: black 3px solid;
  transition: 0.3s;
  &:hover {
    background: rgb(0, 153, 255);
  }
  @media screen and (max-width: 500px) {
    font-size: 0.6rem;
  }
}
h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
ul li {
  list-style: none;
}
body {
  background: url(./assets/images/bg.jpg) fixed center/cover;
}
header {
  min-height: 60vh;

  .header {
    .titre {
      width: 75%;
      margin: 0 auto;
      h1 {
        font-size: 5rem;
        letter-spacing: 2px;
        color: white;
        margin: 300px 0 50px 0;
        @media screen and (max-width: 970px) {
          font-size: 4rem;
        }
        @media screen and (max-width: 770px) {
          font-size: 1.3rem;
          margin: 100px 0 50px 0;
        }
      }
      p {
        font-family: "Merriweather", serif;
        color: white;
        font-size: 1.5rem;
        font-style: italic;
        @media screen and (max-width: 770px) {
          font-size: 1.2rem;
        }
      }
      button {
        padding: 15px 20px;
        margin: 100px 0;
        font-size: 2rem;
        color: white;
        border: white solid 4px;
        border-radius: 200px;
        @media screen and (max-width: 500px) {
          font-size: 1rem;
          margin: 50px 0;
        }
      }
    }
  }
  .nav {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.377);
    nav {
      width: 45%;
      &:hover li:not(:hover) {
        background: none;
        color: white;
      }
      ul {
        display: flex;
        justify-content: space-between;
        li {
          letter-spacing: 2px;
          font-family: "Inter", sans-serif;
          text-transform: uppercase;
          color: white;
          padding: 30px 10px;
        }
        @media screen and (max-width: 760px) {
          font-size: 0.9rem;
        }
        & :first-child {
          background: white;
          color: black;
        }
        & :hover {
          background: white;
          color: black;
        }
      }
    }
  }
  @media screen and (max-width: 900px) {
    .reseau {
      display: none;
    }
    .nav nav {
      width: 100%;
    }
  }
}
.reseau {
  width: 30%;
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.8rem;
}
main {
  background: rgba(255, 255, 255, 0.938);
  width: 70%;
  margin: 0 auto;
}
.mass {
  min-height: 500px;

  img {
    width: 80%;
  }
}
.date {
  font-size: 1.5rem;
  padding: 50px 0;
  position: relative;
  @media screen and (max-width: 500px) {
    font-size: 1rem;
  }
  &::before,
  &::after {
    content: "";
    display: inline-block;
    border: 1px #c3c3c3 solid;
    width: 30%;
    position: absolute;
    @media screen and (max-width: 1100px) {
      width: 28%;
    }
    @media screen and (max-width: 940px) {
      width: 15%;
    }
  }
  &::before {
    top: 50%;
    left: 10%;
  }

  &::after {
    bottom: 50%;
    right: 10%;
  }
}
